@page "/counter"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Counter> L
@inject LocalizationService Localization

<PageTitle>@L["Counter"]</PageTitle>

<h1>@L["Counter"]</h1>

<p role="status">@L["Current count:"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@L["Click me"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
